body {
    margin: 0;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-table {
    width: 100%;
}

.text-center {
    text-align: center !important;
}

.z-2 {
    z-index: 2;
}

.w-fit-content {
    width: fit-content !important;
}

.text-white {
    color: #ffffff;
}

.text-right {
    text-align: right !important;
}

.small-toast-container .swal2-popup.swal2-toast {
    top: calc(45px + 1rem);
}

.small-toast-container .swal2-popup.swal2-toast .swal2-title {
    margin: 0em;
    padding: 10px 0 0 0;
    font-size: 0.9em;
}

.logout-loader {
    position: fixed;
    background-color: #4e4e4e9f;
    width: 100%;
    height: 100%;
    z-index: 1;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
}

.export-btn {
    background-color: #FF6C3B !important;
    color: #fff !important;
}