body {
    margin: 0;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-table {
    width: 100%;
}

.text-center {
    text-align: center !important;
}

.z-2 {
    z-index: 2;
}

.w-fit-content {
    width: fit-content !important;
}

.text-white {
    color: #ffffff;
}

.text-right {
    text-align: right !important;
}

.small-toast-container .swal2-popup.swal2-toast {
    top: calc(45px + 1rem);
}

.small-toast-container .swal2-popup.swal2-toast .swal2-title {
    margin: 0em;
    padding: 10px 0 0 0;
    font-size: 0.9em;
}

.fixed-loader {
    position: fixed;
    background-color: #4e4e4e9f;
    width: 100%;
    height: 100%;
    z-index: 1;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    top: 0;
}

.export-btn {
    background-color: #FF6C3B !important;
    color: #fff !important;
}

.method-text {
    background-color: #ff6c3b52;
    padding: 5px;
    border-radius: 5px;
    color: #ffffffc2;
    font-weight: bold;
    text-align: center;
    margin: 10px auto !important;
    display: flex;
    width: fit-content;
    place-items: center;
    height: 30px;
}

.api-text {
    cursor: pointer;
    transition: 0.25s ease-in-out;
}
.api-text:hover{
    color: rgba(98, 41, 255, 0.761);
}